@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  margin: 20px;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navlist>ul{
  display: flex;
  list-style: none;
}
.navlist>ul>li{
  margin: 0 10px;
  font-size: 18px;
}
.active{
  text-decoration: underline;
}
.logo{
  text-align: center;
  line-height: 2px;
}
.cv>a{
  text-decoration: none;
  color:black;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 14px;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  background: white;
}
.maincontent{
  padding-top: 100px;
  line-height: 20px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.maincontent>.headers{
  width: 40%;
}
.maincontent>.headers>p{
  font-size: 18px;
}
.maincontent>.headers>h1{
  color: #146C94;
}

.maincontent>.profile{

}
.maincontent>.profile>.cover{
  position: relative;
  width: 465px;
  height: 400px;
  background: rgb(229, 236, 249);
  border-radius: 100px 10px 10px 10px;
  /* color: #088395;
  color:#05BFDB; Other colors*/
  box-shadow: rgba(19, 136, 175, 0.4) 5px 5px, rgba(4, 126, 153, 0.3) 10px 10px, rgba(46, 211, 240, 0.2) 15px 15px, rgba(46, 224, 240, 0.1) 20px 20px, rgba(46, 217, 240, 0.05) 25px 25px;
}
.maincontent>.profile>img{
  position: absolute;
  top: 45px;
  border-radius: 8px;
}

/* About page  */

.About{
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
.About>h2{
  color: #146C94;
  font-size: 26px;
  letter-spacing: 1.2px;
}
.About>p{
  font-size: 18px;
}
.indcators{
  width: 80%;
  display: flex;
  margin: auto;
}
.indcators>svg{
  margin: 0 10px;
}



