@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  margin: 20px;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navlist>ul{
  display: flex;
  list-style: none;
}
.navlist>ul>li{
  margin: 0 10px;
  font-size: 18px;
}
.active{
  text-decoration: underline;
}
.logo{
  text-align: center;
  line-height: 2px;
}
.cv>a{
  text-decoration: none;
  color:black;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 14px;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  background: white;
}



